.DS_Store

## User settings
xcuserdata/
jpcre2.xcodeproj/xcuserdata/
pcre2.xcodeproj/xcuserdata/*

## Xcode Build Artifacts
build/
DerivedData/
*.build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Swift Modules
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo

## XCBuild Cache
*.xcbuilddata/

## CMark Build Artifacts
cmark-gfm/cmark-arm64/
cmark-gfm/cmark-x86_64/
cmark-arm64/
cmark-x86_64/
src/cmark-gfm_export.h
src/cmark-gfm_version.h

/*/.idea/

*.dSYM
